/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* LOL */
#social-applets {
  margin-right: 10px;
  z-index: 99;
  position: absolute;
  right: 0px;
}

  @media(min-width: 768px) {
    #social-applets {
      top: 0;
      margin-top: 10px;
    }
      #social-applets > div {
        float: left;
      }
      #social-applets > .twitter {
        margin-right: 10px;
      }
  }

  @media(max-width: 768px) {
    #social-applets {
      bottom: 48px;
      margin-bottom: 10px;
    }
      #social-applets > div {
        float: none;
        text-align: right;
      }
  }

#anchor-greeting {
  text-align: center !important;
  margin-top: -15px !important;
}

  #anchor-greeting h1 {
    margin: 0;
    font-size: 8vh;
  }

  #anchor-greeting h2 {
    margin: 0;
    font-size: 6vh;
  }

  #anchor-greeting a {
    margin: auto;
    margin-top: 1vh;
  }

path {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1;
  stroke-dasharray:6000;
  stroke-dashoffset:0;
}

#logo-outline-path {
  stroke-width:15;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: none;
  color: white;
  overflow-y: scroll;
}

body {
  /*background-image: url(/img/photos/big_house.jpg);*/
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: repeat;
  overflow: visible;
  z-index: 200;
}

body * {
  font-family: "denseregular", Helvetica, Arial, sans-serif;
  /*line-height: 1.4em;*/
}

h1 {
  font-size: 85px;
}

h2, legend {
  font-size: 70px;
}

legend {
  border-bottom: none !important;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 34px;
}

.form-group label, .form-group input, .form-group span, .form-group textarea {
  font-family: 'Roboto';
  font-weight: 100;
}

.form-group button {
  display: block;
  margin: auto;
}

body p {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.34em;
  /*text-align: justify;*/
}

#loading-curtain {
  position: fixed;
  background-color: #191919;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.loading-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/img/mhacks_frame_light.png);

  -webkit-animation-name: wobble; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: wobble; 
  -moz-animation-duration: 2s; 
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
}

  @-webkit-keyframes wobble {
    0% {-webkit-transform: rotate(-26deg);}
    50% {-webkit-transform: rotate(26deg);}
    100% {-webkit-transform: rotate(-26deg);}
  }

  @-moz-keyframes wobble {
    0% {-moz-transform: rotate(-26deg);}
    50% {-moz-transform: rotate(26deg);}
    100% {-moz-transform: rotate(-26deg);}
  }

#main-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

  #main-container .row{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
  }

  #main-container .row > * {
    padding: 0;
  }

  #main-container .row iframe {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

#sidebar-nav {
  border-radius: 0;
  background-color: #191919;
  border: none;
}

.navbar-nav > li > a {
  font-size: 24px;
  line-height: 24px;
}

/*#container-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}*/

  body > .container {
    background-color: #272727;
  }

#logo-wrapper {
  position: relative;
  margin: auto;
  display: block;
  padding: 0;
}

#fixed-header {
  position: fixed;
  top: 0;
}

#fixed-footer {
  position: fixed;
  top: 0;
}

.full {
  height: 100vh;
}

@media(max-width: 768px) {
  section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media(min-width: 768px) {
  section {
    padding-left: 48px;
    padding-right: 48px;
  }
}
section {
  margin-bottom: 20px;
}

  section h2, section h3 {
    /*border-bottom: 1px solid white;*/
  }

  section > .row {
    position: relative;
  }

  section#social > .row > a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }

  section#footer {
    margin-bottom: 0;
  }

  section#footer > .row > div {
    padding: 10px;
  }

  section#footer > .row > div > a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 40px;
    display: block;
    margin-bottom: 16px;
    max-width: 180px;
    margin: auto;
  }

  section#stats {
    padding: 0;
    background-color: #ffc800;
  }

  section#stats .col-md-6 {
    padding: 0;
  }

  section#stats h1 {
    font-size: 260px;
    line-height: 0.8em;
    margin: 0px;
  }
  section#stats h2 {
    font-size: 90px;
    line-height: 0.8em;
  }
  /*@media(max-width: 768px) {*/
    section#sponsors .col-sm-6 {
      padding: 0;
    }
  /*}*/

  section#sponsors {
    /*padding: 0;*/
    background-color: #FCFCFC;
    padding-bottom: 15px;
  }
  
  .sponsor {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .row.gold, .row.silver {
    margin-bottom: 20px;
  }
  .row.bronze {
    margin-bottom: 40px;
  }
  .row.unobtanium {
    margin-bottom: 60px;
  }
  section#sponsors .row.unobtanium .sponsor {
    height: 240px;
  }
  section#sponsors .row.gold .sponsor {
    height: 180px;
  }
  section#sponsors .row.silver .sponsor {
    height: 140px;
  }
  section#sponsors .row.bronze .sponsor {
    height: 120px;
  }

#map-canvas {
  position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);
}

#map-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  padding: 20px 0;
}

  #map-overlay > div {
    height: 420px;
  }

  #map-overlay > div > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
  }

.logo-animated {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
}

  .logo-animated path {
    fill:none;
    stroke:#FFFFFF;
    stroke-width:3;
    stroke-linejoin:miter;
    stroke-miterlimit:10;
    stroke-opacity:1;
  }

  .logo-animated circle {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit:10;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
  }

@font-face {
  font-family: 'ostrich-sans-regular';
  src: url('/fonts/ostrich-sans-regular.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
    url('/fonts/ostrich-sans-regular.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('/fonts/ostrich-sans-regular.ttf') format('truetype'), /* Opera, Safari */
    url('/fonts/ostrich-sans-regular.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'ostrich-sans-black';
  src: url('/fonts/ostrich-sans-black.eot'); /* IE 5-8 */ 
  src: local('☺'),             /* sneakily trick IE */
    url('/fonts/ostrich-sans-black.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
    url('/fonts/ostrich-sans-black.ttf') format('truetype'), /* Opera, Safari */
    url('/fonts/ostrich-sans-black.svg#font') format('svg'); /* iOS */
}

@font-face {
  font-family: 'denseregular';
  src: url('/fonts/dense-regular-webfont.eot');
  src: url('/fonts/dense-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/dense-regular-webfont.woff') format('woff'),
    url('/fonts/dense-regular-webfont.ttf') format('truetype'),
    url('/fonts/dense-regular-webfont.svg#denseregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* New stuff */

@media(min-width: 768px) {
  #faq-pane {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media(max-width: 768px) {
  #faq-pane {
    padding-left: 40px;
    padding-right: 40px;
  }
}
#faq-pane {
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
  /*max-height: 1200px;*/
  box-shadow: inset 0 2px 8px black;
  padding-bottom: 40px;
  padding-top: 20px;
}

  /*#faq-pane p {
    text-align: justify;
  }*/

.faq-rolled {
  margin-top: -60px;
  max-height: 0 !important;
}

  /*@media(min-width: 992px) {
    #faq-pane {
      padding-bottom: 0px !important;
    }
    .faq-box {
      height: 100px;
    }
    .faq-box p {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 0px !important;
    }
    .faq-box-left {
      border-right: 2px solid white;
      border-bottom: none !important;
      text-align: right;
    }
    .faq-box-right {
      border-left: 2px solid white;
      text-align: left;
    }
  }*/

  .faq-box h3 {
    margin-bottom: 0px !important;
  }

  .faq-box p {
    margin-top: 10px;
  }

  .faq-box-left {
    border-bottom: 2px solid white;
  }

  .faq-box-right {
  }
  

  

/* None of these are really that important... */
/* I think Buddha would agree. */

.locked {
  overflow: hidden !important;
}

.pushed {
  transform-origin: 50% 0 !important;
  -webkit-transform-origin: 50% 0 !important;
  -moz-transform-origin: 50% 0 !important;
  -o-transform-origin: 50% 0 !important;
  -ms-transform-origin: 50% 0 !important;
  height: 50%; /* this is *actually* important */
}

.shrunken {
  transform: scale(0) !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
}

.transparent {
  opacity: 0 !important;
  z-index: -1 !important;
}

.faded {
  opacity: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

.grow-animated {
  transition: height 2s ease-in-out, transform 2s ease-in-out !important;
  -webkit-transition: height 2s ease-in-out, -webkit-transform 2s ease-in-out !important;
  -moz-transition: height 2s ease-in-out, -moz-transform 2s ease-in-out !important;
  -o-transition: height 2s ease-in-out, -o-transform 2s ease-in-out !important;
  -ms-transition: height 2s ease-in-out, -ms-transform 2s ease-in-out !important;
}

.fade-animated {
  transition: opacity 0.65s ease-in-out !important;
  -webkit-transition: opacity 0.65s linear !important;
  -moz-transition: opacity 0.65s ease-in-out !important;
  -o-transition: opacity 0.65s ease-in-out !important;
  -ms-transition: opacity 0.65s ease-in-out !important;
}

.slide-animated {
  transition: all 0.65s ease-in-out !important;
  -webkit-transition: all 0.65s ease-in-out !important;
  -moz-transition: all 0.65s ease-in-out !important;
  -o-transition: all 0.65s ease-in-out !important;
  -ms-transition: all 0.65s ease-in-out !important;
}

/* Override all the things */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 2px;
  box-shadow: none;
  /*font-family: "denseregular", Helvetica, Arial, sans-serif;*/
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

span.twitter-typeahead {
  display: block !important;
}

.btn {
  /*font-family: "denseregular", Helvetica, Arial, sans-serif;*/
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  color: white;
  background-color: #FED136;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 2px
}

.btn-default:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.40);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.panel-default {
  background-color: #191919;
  border: none;
}

.btn.btn-social-style {
  height: 20px;
  font-family: 'roboto';
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  border-color: white;
}

.smoothed {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
